#cheesy img {
  height: 250px;
}

body {
  display: block;
  align-items: center;
  background-color: #b3ecff;
}

.title {
	font-size: 32px;
}

.menu {
	background-color: #e65c00;
	border: 4px solid #b34700;
}